:root {
  --wyyyy-bg: rgb(248 249 253);
  --wyyyy-font: rgb(62 70 91);
  --wyyyy-shadow: rgba(62 70 91 / 22%);
  --wyyyy-shadow-dark: rgba(62 70 91 / 32%);
}

:host {
  position: relative;
  width: 100%;
  height: fit-content;
  margin: 10px 0 0 0;
  overflow: hidden;
}

.ani-cell {
  position: relative;
  background-color: var(--wyyyy-bg);
  color: var(--wyyyy-font);
  width: calc(100% - 60px);
  height: 60px;
  padding: 20px;
  margin: 0 10px;

  box-shadow: 0 3px 15px var(--wyyyy-shadow);
  border-radius: 20px;
 
  transition: all .2s;
}

.ani-cell:hover {
  box-shadow: 0 5px 20px var(--wyyyy-shadow-dark);
}
/*
.ani-cell * {
  border: 0.3px solid;
}
*/
.ani-wrapper {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;

  overflow-x: scroll;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  transition: filter 0.5s;
}
.blurself {
  filter: blur(5px);
}

.ani-img-wrapper {
  width: 145px;
  height: 80px;
  margin: 0 0 0 10px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

/*
  .ani-img
*/

.ani-text {
  height: 80px;
  width: calc(100% - 150px);
  user-select: none;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

/*
  .ani-title
*/

.ani-description {
  font-size: 11px;
  outline: none;
  white-space: nowrap;
}